
/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.grid-item {
    background-color: #fcd6ed;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
}

.grid-item:hover {
    transform: scale(1.05);
    background-color: #ef84b9b8;
    
}
.grid-item img {
    width: 100%; /* Изображение занимает всю ширину блока */
    height: auto; /* Сохраняет пропорции изображения */
    border-radius: 8px; /* Закругленные углы для изображений */
    transition: transform 0.3s ease; /* Плавная анимация */
}

.grid-item img:hover {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}


/*для текста в картинках*/
.image-container {
    position: relative; /* Устанавливаем относительное позиционирование */
    width: 100%; /* Контейнер занимает всю ширину блока */
}

.image-container img {
    width: 100%; /* Изображение занимает всю ширину контейнера */
    height: auto; /* Сохраняет пропорции изображения */
    border-radius: 8px; /* Закругленные углы */
}

.image-text {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Размещаем текст внизу контейнера */
    left: 0;
    width: 100%;
    color: #740b54; /* Цвет текста */
    text-align: center;
    padding: 10px;
    opacity: 1; /* Показываем текст по умолчанию */
    transition: opacity 0.3s ease; /* Плавный переход */
    border-radius: 8px; /* Закругленные углы внизу */
}


.image-container:hover .image-text {
    opacity: 1; /* Показываем текст при наведении */
}




/* Стили для формы */
.form-container {
    background-color: #fee9f78a;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

.form-container label {
    font-weight: bold;
}

.form-container input, .form-container button {
    background-color: #fcd6ed;
    padding: 10px;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
}

.form-container input:focus, .form-container button:focus {
    outline: none;
    transform: scale(1.02);
}

.form-container button:hover {
    background-color: #ef84b9b8;
    transform: scale(1.05);
}

/* Стили для футера */
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #fee9f78a;
    transition: transform 0.3s ease;
}

.footer-item {
    background-color: #fcd6ed;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
}

.footer-item:hover {
    transform: scale(1.05);
    background-color: #ef84b9b8;
}



